@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model KurthProject2Vet.ViewModels.VetViewModel
@*@model List<KurthProject2Vet.Models.PetService>*@
@{
    Layout = "_Layout";
    ViewBag.Title = "PetService";
}



<div class="container">
    <div class="bg-primary panel-body" ">
        <h3>Pet Services</h3>
        </div>

    <table class="table table-condensed table-bordered">
       
            <tr>
                <th>Pet Name</th>
                <th>Service Description</th>
                <th>Service Cost</th>
                <th>Service Date</th>


            </tr>
            @foreach (var pet in Model.Pets)

            {

                @if (pet.PetServices.Count() == 0)
                {
                    <tr>
                        <td colspan="3" class=" ="text-center">No Services for @pet.Name</td>
                    </tr>
                }
                else
                {

                    @foreach (var petService in pet.PetServices)
                    {
                        <tr>
                            <td>@pet.Name</td>
                            <td>@petService.Service.Description </td>
                            <td> @petService.Service.Cost </td>
                            <td>@petService.DateRendered </td>

                        </tr>
                    }

                }
            }

   </div>