@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model KurthProject2Vet.ViewModels.VetViewModel
@*@model List<KurthProject2Vet.Models.PetService>*@
@{
    Layout = "_Layout";
    ViewBag.Title = "PetService";
}


<h3>Pet Services</h3>
<div class="container">

    <div class="row">
        @foreach (var pet in Model.Pets)

        {
            <p>Name of Pet: @pet.Name</p>
            @if (pet.PetServices.Count() == 0)
            {
                <p>***No Services</p>
            }
            else
            {
                <ul>
                    @foreach (var petService in pet.PetServices)
                    {

                        <li>Pet Service: @petService.Service.Description </li>//object refereance ot set to an instance of an object
                        <li>Cost of Service: @petService.Service.Cost </li>
                        <li>Date of Service: @petService.DateRendered </li>
                        <li>Pet ServiceId: @petService.ServiceId</li>

                    }
                </ul>
            }
        }
        </div>
</div>



. Retrieves	all	of	the	Pet	objects	from	the	database	and	includes
the	Services	rendered	for	each	pet
ii. This	will	require	utilizing	the	.Include()	and	.ThenInclude()
syntax.	If	you	are	struggling	with	this,	please ask	me	for	help	J
iii. Passes	the	Pet	objects	that	include	the	related	Services	to	the
PetServices	View