
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers

@model KurthProject2Vet.ViewModels.VetViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Owner";
}
//The	owners	listing	should	show	a	list	of	Pets	that	each	owner	owns,
specifically	the	pet	name	and	type (see	image	below)

<h3>Pet Owners </h3>
<a class="btn btn-large btn-success" asp-controller="Owners" asp-action="Create">Add a new pet owner</a>
<div class="container">
    
        @foreach (var owner in @Model.Owners)
        {

            <p>Owner Name: @owner.LastName, @owner.FirstName</p><br/>
            <ul>  
                @foreach (var pet in owner.Pets)


                {
                    <li>Type of pet: @pet.Type <br/> Name of pet: @pet.Name</li><br/>
                }
            </ul>
        }

    </div>
</div>


