
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers

@model KurthProject2Vet.ViewModels.VetViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Owner";
}
<div class="bg-primary panel-body" ">
    <h2>Pet Owners</h2>
</div>

<a class="btn btn-large btn-success" asp-controller="Owners" asp-action="Create">Add a new pet owner</a>
<div class="container">
    
        @foreach (var owner in @Model.Owners)
        {
            <table class="table table-condensed table-bordered">
                <tr>

                   <th>Owner Name</th>
                   <th>Phone</th>
                   <th>Pets</th>
               </tr>
         @foreach (var pet in owner.Pets)
         {
                <tr>
                    <td>@owner.FirstName @owner.LastName </td>
                    <td>@owner.PhoneNumber</td>
         @if (owner.Pets != null)
         {
                    <td>@pet.Name, @pet.Type</td>
         }
         else
         {
              <td>No Pets Yet</td>
         }
            
            </tr>
         }
       </table>
        }
</div>


